<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataEntity.Properties.Settings.CartConnectionString"
            connectionString="Data Source=VSERVER;Initial Catalog=Cart;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataEntity.Properties.Settings.eduConnectionString"
            connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=edu;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataEntity.Properties.Settings.eduConnectionString1"
            connectionString="Data Source=VSERVER;Initial Catalog=edu;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataEntity.Properties.Settings.CrameasyConnectionString"
            connectionString="Data Source=RNAIK01;Initial Catalog=Crameasy;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>