*
{
    color: #626262;
}
body
{
    font-family: verdana,clean,sans-serif; /*font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,"DejaVu Sans","Bitstream Vera Sans",Arial,Verdana,"Verdana Ref",sans-serif;*/
    font-size: 11.25px;
    text-align: center;
    margin: 0px;
    padding: 0px; /*background: url(      "http://demo.cyn.in/bodybg.png" ) repeat-x scroll left top #D9D9D9;*/
    text-align: left;
    background: #f1f1f1;
}
.page, #msgstate div
{
    width: 1000px;
    margin: 0 auto; /*border: solid 1px #848689;*/
    background: #48C828;
    max-width: 1336px;
}
.fpage
{
    width: 100%;
    margin: 0 auto; /*border: solid 1px #848689;*/
    max-width: 1336px;
}
.grebg
{
    background: #BEF3AF;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}
.blbg
{
    background: #BBE2FF;
    padding: 5px;
}
.success, #msgstate div
{
    width: 99%;
    margin: 4px 0px;
}
.brcum
{
    margin: 0 auto;
}
#msgstate div, .success, .brcum
{
    padding: 5px;
    color: #fff;
}
.page
{
    min-height: 700px;
    padding: 0px;
    background: transparent;
    margin-top: 5px;
}
.header
{
    padding: 0px;
    border: 0px;
    background: transparent;
    color: #fff;
    font-weight: bold;
    padding: 2px;
}
.header .btnl
{
    background: url(images/palat.png) repeat;
    height: 30px;
    width: 100px;
    float: left;
    line-height: 30px;
    background-position: 0 -194px;
    text-align: center;
    padding-left: 4px;
}
.header .btnr
{
    background: url(images/palat.png) repeat;
    height: 30px;
    width: 5px;
    float: left;
    background-position: -742px -194px;
}
.header
{
    width: 1000px;
    padding: 0px 0px;
    background: #fff;
    margin: 0 auto;
    border: solid #848689 1px;
}
.headerbt
{
    height: 63px;
    width: 100%;
    padding: 0px 0px;
    background: url(                                    'images/headerbt.jpg' ) repeat-x;
    clear: both;
}
li
{
    display: inline;
    list-style: none;
}
#mylander li
{
    display: block;
    text-align: left;
    border-bottom: dashed 1px #cfcfcf;
}
.menu
{
    background-color: Transparent;
    padding: 0px;
    width: 1000px;
    margin: 0 auto;
}

.menu table, .menu table tr
{
    background-color: Transparent;
    border: none;
}
.menu tr
{
    background-color: Transparent;
}


thead tr
{
    /*background: transparent url(images/palat.png) no-repeat scroll 0 -57px;*/
    border-bottom: 1px dashed #A9AEB1;
    font-weight: bold;
    height: 35px;
    color: #093F7C;
}
tr
{
    background: #fff;
    padding: 2px 2px;
    border-bottom: dashed 1px #A9AEB1;
}
td
{
    text-align: left;
    padding: 5px;
    vertical-align: top;
}
tr:hover
{
    background: #FEFDE9;
}



.tab
{
    background: #497BAC;
    padding: 5px;
    border: solid 1px #325994;
}
.qtxt
{
    width: 400px;
}
.qs .contentbox
{
    min-height: 300px;
}
.headx
{
    background: url(images/scv1.png);
}

.tlist table
{
    width: 100%;
}
.tlist h3
{
    color: #000;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 0px;
}

.thtl
{
    background: url(images/thl.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 6px;
}
.thtr
{
    background: url(images/thr.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 6px;
}
.thtc
{
    background: url(images/thc.png);
    background-repeat: repeat-x;
    background-position: left;
}

.thtl, .thtr, .thtc
{
    height: 62px;
}

.thbl
{
    background: url(images/thbl.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 6px;
}
.thbr
{
    background: url(images/thbr.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 6px;
}
.thbc
{
    background: url(images/thbc.png);
    background-repeat: repeat-x;
    background-position: left;
}

.thbl, .thbr, .thbc
{
    height: 61px;
}
.thml
{
    background: url(images/thml.png);
    background-repeat: repeat-y;
    background-position: left;
    padding-left: 6px;
}
.thmr
{
    background: url(images/thmr.png);
    background-repeat: repeat-y;
    background-position: right;
    padding-right: 6px;
}
.thmc
{
    background: #fff;
    background-repeat: repeat;
    background-position: left;
}

.thml, .thmr, .thmc
{
}

.loading
{
    /*    background: url(images/3.gif);     z-index: 10001;     background-repeat: no-repeat;     background-position: center;     position: fixed;     left: 500px;     top: 100px;     padding: 30px;     height: 70px;     width: 70px;*/
    background: url( "images/35.gif" ) no-repeat scroll left center #444444;
    background-repeat: no-repeat;
    padding: 10px 30px;
    position: fixed;
    color: #E0DEDA;
    font-weight: bold;
}
.lmenuitem
{
    line-height: 24px;
    border-bottom: dashed 1px #cfcfcf;
    padding-left: 10px;
}
.rimg
{
    border: solid 5px #000;
    margin: 3px;
    padding: 3px;
    background: #444;
    -moz-border-radius: 6px;
}
li
{
    display: inline;
    text-align: left;
    padding: 6px 10px;
    margin: 1px;
    text-decoration: none;
}
#sidemenu li a, ul
{
    border: none;
    background-color: Transparent;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

li input, li select, li textarea, select
{
    width: 20%;
}
input[type=radio], input[type=checkbox]
{
    width: 10px;
}

/*  New -------------------------------------*/

input, textarea
{
    -moz-border-radius: 4px;
    border: 1px solid #999999;
    color: #1A1A1A;
    padding: 0.25em 0.5em;
    width: 80%;
}
.vis
{
    text-align: left;
}
.invis
{
    text-align: left;
    display: none;
}
.roundedall, .btn, .cin:hover, .contentbox, .trans, #msgstate div, .success, .hcurv, .ttip, .brcum, .dasbo:hover
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.roundedb
{
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.roundedt, .bksl .btn, .gsad
{
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.roundedl
{
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
.roundedright
{
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    -khtml-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}
.bksl
{
    background-image: url(images/bks.png);
    height: 90px;
    background-repeat: repeat-x;
    vertical-align: bottom;
}
.gsad, .bksl .btn:hover, .bksl .gsad
{
    background-image: url(images/gsad.png);
    color: #fff;
}
.gsad a
{
    color: #fff;
}
.bksl .btn, .gsad
{
    background-image: url(images/blackbtn.jpg);
    float: left;
    height: 33px;
    padding: 0px 10px 0px 0px;
    margin: 0px 5px;
    color: #fff;
    font-weight: bold;
    line-height: 33px;
    border: 1px solid #171717;
}
.btn, .brcum
{
    background: url(images/graybtn.gif);
    background-repeat: repeat-x;
    border: solid 1px #c4c7c8;
    color: #626262;
    font-weight: bold;
}
.editbtn
{
    width: 50px;
}
.btn
{
    padding: 5px 10px;
    max-width: 200px;
    text-align: center;
    line-height: 12px;
    margin: 2px;
    min-height: 14px;
}
.btn:hover, .cin:hover
{
    background: url(images/bluebtn.gif);
    border: solid 1px #267bc4;
}
.btn:hover, .cin:hover
{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.btn a
{
    color: #323232;
    text-shadow: 1px 1px 1px #FFFFFF;
}
a, .grayhead, .btn a, .gray, #msgstate div, .success, .label, .hcurv, .head
{
    font-weight: bold;
    font-family: Tahoma;
}
.gray, h5
{
    background-image: url(images/gsl.png);
    border: solid 1px #C5C8C9;
}

.gray, .hcurv
{
    min-height: 20px;
    padding: 0px 10px;
    line-height: 20px;
    font-size: 13px;
}
.btn, body
{
    font-size: 11px;
}
.bksl .btn a
{
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
}
h5
{
    padding: 4px 5px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}
.gbg
{
    background: #ECECEC;
    text-align: left;
}
.graycontent, .bluecontent
{
    text-align: left;
    padding: 5px;
    margin: 5px;
    line-height: 20px;
}
.graycontent
{
    background: #ECECEC;
}
.bluecontent, .udate
{
}
.cin
{
    padding: 5px;
    border-bottom: dashed 1px #424542;
    margin: 1px;
}
.contentbox
{
    background: #fff;
    border: solid 1px #C5C8C9;
    text-align: left;
    padding: 0px;
    width: 99%;
}
.gray
{
    border: none 0px;
    padding: 5px;
}
.rgray
{
    background-image: url(images/bgrsl.png);
    border: solid 1px #C5C8C9;
}
table
{
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}
table thead td, .btext, a, .btitle
{
    color: #497ec1;
}
.btn a:hover
{
    background: transparent;
}
a:hover
{
    background: #CEE3FF;
}
.btitle
{
    font-weight: bold;
}
.btext, a
{
    text-decoration: none;
}
.hr
{
    border-bottom: dashed 1px #C5C8C9;
}
h3
{
    padding: 0px;
    margin: 0px;
    color: #497EC1;
    font-size: 13px;
}
.error
{
    padding: 3px;
    background: #C72127;
    margin: 3px;
    color: #fff;
}
.whitecont
{
    margin: 10px;
    line-height: 22px;
    background: transparent;
    clear: both;
    width: auto;
    word-wrap: break-word;
}
.dasbo
{
    border-bottom: dashed 1px #cfcfcf;
    min-height: 70px;
    padding: 5px;
}
.dasbo:hover
{
    background: #efefef;
}

.grayhead
{
    background: url(images/grayHead.gif);
    height: 28px;
    background-repeat: repeat-x;
    border: solid 1px #C5C8C9;
    line-height: 28px;
    padding: 0px 5px;
    margin: 0px;
}
.graylg
{
    background: url(images/braylg.png);
    background-repeat: repeat-x;
    border: solid 1px #C5C8C9;
    line-height: 28px;
    padding: 10px 5px;
    margin: 0px;
}
.trans
{
    background: url(                    'images/trans.png' );
    padding: 15px;
}
/* Icons */

.edit
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -108px 0px;
    padding: 14px 14px;
}
.fullsc
{
    background-color: Transparent;
    background-image: url(       "images/icons.png" );
    background-position: 0 -68px;
    padding: 18px;
}
.folder
{
    background-color: Transparent;
    background-image: url(       "images/icons.png" );
    background-position: 0 -68px;
    padding: 18px;
}
.help
{
    background-color: Transparent;
    background-image: url(       "images/icons.png" );
    background-position: -34px -68px;
    padding: 18px;
}
.delete
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -108px 0px;
    padding: 14px 14px;
}
.dash
{
    background-color: Transparent;
    background-image: url(   "images/icons.png" );
    background-position: 0 -33px;
    height: 30px;
    width: 30px;
}
.acco
{
    background-color: Transparent;
    background-image: url(   "images/icons.png" );
    background-position: -33px -33px;
    height: 30px;
    width: 42px;
}
.expand div, .exand
{
    background-color: Transparent;
    background-image: url(   "images/icons.png" );
    background-position: -274px -9px;
    empty-cells: show;
    height: 17px;
    width: 18px;
}
.collapse div, .collap
{
    background-color: Transparent;
    background-image: url(   "images/icons.png" );
    background-position: -299px -43px;
    empty-cells: show;
    height: 18px;
    line-height: 12px;
    width: 18px;
}

.img
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -35px -6px;
    padding: 3px 10px;
    line-height: 12px;
    empty-cells: show;
}
img
{
    margin: 1px;
}
.doc
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -64px -5px;
    padding: 1px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.aud
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -191px -5px;
    padding: 1px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.howo
{
    background-color: Transparent;
    background-image: url(         "images/icons.png" );
    background-position: -257px -9px;
    empty-cells: show;
    line-height: 12px;
    padding: 2px 5px;
}
.vid
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -0px -10px;
    padding: 0px 25px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.ques
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -191px -6px;
    padding: 2px 6px;
    line-height: 12px;
    empty-cells: show;
}
.all
{
    background-color: Transparent;
    background-image: url(         "images/icons.png" );
    background-position: -198px -40px;
    empty-cells: show;
    line-height: 12px;
    padding: 2px 5px;
}
.art
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -220px -40px;
    padding: 2px 9px;
    line-height: 12px;
    empty-cells: show;
}
.aud
{
    background-color: Transparent;
    background-image: url(          "images/icons.png" );
    background-position: -235px -9px;
    empty-cells: show;
    line-height: 12px;
    padding: 2px 6px;
}
.evt
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -113px -40px;
    padding: 2px 6px;
    line-height: 12px;
    empty-cells: show;
}
.lbr
{
    background-color: Transparent;
    background-image: url(           "images/icons.png" );
    background-position: -170px -40px;
    empty-cells: show;
    line-height: 12px;
    padding: 2px 10px 0 0;
}
.exm
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -85px -9px;
    padding: 0px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.us
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -142px -11px;
    padding: 0px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.msg
{
    background-color: Transparent;
    background-image: url(      "images/icons.png" );
    background-position: -273px -38px;
    empty-cells: show;
    height: 24px;
    line-height: 12px;
    width: 24px;
}
.mystuff
{
    background-color: Transparent;
    background-image: url(      "images/icons.png" );
    background-position: -243px -35px;
    empty-cells: show;
    height: 28px;
    line-height: 12px;
    width: 24px;
}
.sub
{
    background-color: Transparent;
    background-image: url(      "images/icons.png" );
    background-position: -299px -4px;
    empty-cells: show;
    height: 24px;
    line-height: 12px;
    width: 24px;
}
.uprate
{
    background-color: Transparent;
    background-image: url(      "images/icons.png" );
    background-position: -327px -4px;
    empty-cells: show;
    height: 21px;
    line-height: 12px;
    width: 21px;
}
.downrate
{
    background-color: Transparent;
    background-image: url(      "images/icons.png" );
    background-position: -354px -4px;
    empty-cells: show;
    height: 21px;
    line-height: 12px;
    width: 21px;
}
.close
{
    background-color: Transparent;
    background-image: url(  "images/icons.png" );
    background-position: -326px -44px;
    empty-cells: show;
    height: 10px;
    line-height: 12px;
    margin: 2px;
    width: 10px;
}
.closebck
{
    background-color: #F0F0F0;
    border: 1px solid #CFCFCF;
    padding: 2px;
    width: 14px;
}
/* end Account*/

fieldset
{
    text-align: left;
    border: none;
    border-top: solid 1px #626262;
}
legend
{
    font-size: 13px;
    font-weight: bold;
    color: #497EC1;
}
.tarrow
{
    /*    background: transparent url(images/toolarrow.png);*/
    height: 37px;
    width: 127px;
    background-repeat: no-repeat;
    margin-top: 20px;
}
a
{
    cursor: pointer;
}
.checked .unchecked input, .unchecked input
{
    background: transparent url(images/unchecked.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.unchecked input, .checked input
{
    padding-left: 16px;
    margin: 0px;
    border: none 0px;
    cursor: pointer;
    color: #fff;
}
.checked input
{
    background: transparent url(images/checked.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.bgtl
{
    background: transparent url(images/bgtl.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 20px;
}
.bgtll
{
    background: transparent url(images/bgtll.png);
    background-repeat: repeat-x;
    background-position: left;
    height: 20px;
    margin: 0px 0 0 20px;
}
.bgtr
{
    background: transparent url(images/bgtr.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 20px;
}
.bgtc
{
    background: transparent url(images/bgtc.png);
    height: 20px;
    margin: 0px 20px 0 0;
}
.bgbl
{
    background: transparent url(images/bgbl.png);
    background-repeat: no-repeat;
    background-position: 0px 0;
    height: 20px;
}
.bgbr
{
    background: url(images/bgbr.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 20px;
}
.bgbc
{
    background: transparent url(images/bgbc.png);
    height: 20px;
    margin: 0px 20px;
}
.bgml
{
    background: transparent url(images/bgml.png);
    background-repeat: repeat-y;
    background-position: left;
}
.bgmr
{
    background: transparent url(images/bgmr.png);
    background-repeat: repeat-y;
    background-position: right;
}
.bgmc
{
    margin: 0 9px 0 10px;
    background: #fff;
}
.udate
{
}
.fuleft
{
    float: left;
    width: 70%;
}
.furight
{
    float: right;
    width: 30%;
}
ul
{
    clear: both;
    display: block;
}
.tooltip
{
    text-align: center;
    max-width: 200px;
    display: block;
}
.ttip
{
    background: transparent url(images/trans.png);
    padding: 8px;
    color: #fff;
    max-width: 150px;
}
.tdown
{
    background: transparent url(images/tdw.png);
    height: 8px;
    width: 12px;
    margin: 0 auto;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}
.clear
{
    clear: both;
}
.head
{
    font-size: 16px;
    padding: 3px 43px;
    color: #fff;
}
input
{
    min-width: 20px;
}
input[type=radio], input[type=checkbox]
{
    width: 20px;
    border: none 0px;
}
.lcbg
{
    background: url(images/lcbg.png);
    height: 20px;
    width: 20%;
    background-position: left;
    background-repeat: no-repeat;
}
.rcbg
{
    background: url(images/rcbg.png);
    background-position: right;
    height: 20px;
    background-repeat: no-repeat;
}
.nobod
{
    border: none;
}
.rbod
{
    border: none;
    border-right: dashed 1px #626262;
}
.valtooltip
{
    color: Red;
    font-weight: bold;
}
.lmbg
{
    background-image: url(images/lmbg.png);
    background-repeat: repeat-y;
}
.rmbg
{
    background-image: url(images/rmbg.png);
    background-repeat: repeat-y;
    background-position: right;
}
.label
{
    line-height: 22px;
}
.plb
{
    background: url(images/plb.png);
    background-position: left;
}
.prb
{
    background: url(images/prb.png);
    background-position: right;
}
.pcb
{
    background: url(images/pcb.png);
    background-repeat: repeat-x;
    margin: 0px 20px;
    height: 20px;
}
.plt
{
    background: url(images/plt.png);
    background-position: left;
}
.prt
{
    background: url(images/prt.png);
    background-position: right;
}
.pct
{
    background: url(images/pct.png);
    background-repeat: repeat-x;
    margin: 0px 20px;
    height: 20px;
}
.plm
{
    background: url(images/plm.png);
    background-position: left;
    background-repeat: repeat-y;
}
.prm
{
    background: url(images/prm.png);
    background-position: right;
    background-repeat: repeat-y;
}
.pcm
{
    background: #fff;
    margin: 0px 20px;
    padding: 5px;
}
.prt, .plt, .prb, .plb
{
    height: 20px;
    background-repeat: no-repeat;
}

.title
{
    color: #497EC1;
    font-size: 12px;
    font-weight: bold;
}
.valmsg
{
    color: Red;
}
.fleft
{
    float: left;
}
.fright
{
    float: right;
}
.calender td
{
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: none;
}
.calender tr
{
    border: none;
}
.login
{
    width: 517px;
}
.login .top
{
    background: url(  "images/lo_top.jpg" ) repeat scroll 0 0 transparent;
    height: 121px;
    width: 517px;
}
.login .mid div
{
    margin: 5px 0px;
}
.login .mid input
{
    width: 92%;
}
.login .mid
{
    background: url(images/lo_mid.jpg);
    background-repeat: repeat-y;
    padding: 10px;
    width: 517px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.login .bot
{
    background: url(  "images/lo_bottom.jpg" ) repeat scroll 0 0 transparent;
    height: 46px;
    width: 517px;
}
.btnlogin
{
    background: url(  "images/btnlogin.png" ) repeat scroll 0 0 transparent;
    height: 58px;
    width: 214px;
    margin: 10px 5px;
}
.body
{
    background: url(images/loginbg.jpg) !important;
    background-repeat: repeat;
}
.loginbx
{
    background-image: url(images/loginbx.png);
    width: 414px;
    height: 267px;
    margin: 0 auto;
}
.loginbxbg
{
    background-image: url(images/loginbxbg-06.png);
    height: 405px;
    width: 808px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.loginhead
{
    background-image: url(images/loginhead.png);
    width: 406px;
    height: 90px;
    margin-left: 200px;
}
.loginbtn
{
    background-image: url(images/loginbtn.png);
    width: 161px;
    height: 54px;
}
.loginbxbg a, .loginbxbg a:hover
{
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    background: transparent;
    text-shadow: 1px 1px 1px #000000;
}
dl
{
    margin: 0px !important;
    clear: both;
}
#atool .dasbo
{
    min-height: 10px;
}
.footerbg
{
    background: url(images/footersl.png);
    background-repeat: repeat-x;
    height: 114px;
    color: #fff !important;
}
.footerbg a, .bksl a, .bksl
{
    color: #fff;
}
.footin
{
    background: #f8f8f8;
    color: #fff !important;
    border: solid 1px #c5c5c5;
}
.caps,#icource div
{
    text-transform: capitalize;
}
#icource div:hover,#mymenupanel li:hover
{
    /*background-image:url("images/gsad.png");   */
    background-image:url("images/blackbtn.jpg");
}
#icource div:hover a div,#mymenupanel li:hover a 
{
    color:#fff;
}