*
{
    color: #626262;
}
body
{
    /*font-family: arial,helvetica,clean,sans-serif;*/
    font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,"DejaVu Sans","Bitstream Vera Sans",Arial,Verdana,"Verdana Ref",sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background:url("http://demo.cyn.in/bodybg.png") repeat-x scroll left top #D9D9D9;
    text-align:left;
}
.page
{
    width: 1000px;
    margin: 0 auto;
    /*border: solid 1px #848689;*/
    min-height: 700px;
    padding: 0px;
    background: transparent;
    margin-top: 5px;
}
.header
{
    padding: 0px;
    border: 0px;
    background: transparent;
    color: #fff;
    font-weight: bold;
    padding: 2px;
}
.header .btnl
{
    background: url(images/palat.png) repeat;
    height: 30px;
    width: 100px;
    float: left;
    line-height: 30px;
    background-position: 0 -194px;
    text-align: center;
    padding-left: 4px;
}
.header .btnr
{
    background: url(images/palat.png) repeat;
    height: 30px;
    width: 5px;
    float: left;
    background-position: -742px -194px;
}
.header
{
    width: 1000px;
    padding: 0px 0px;
    background: #fff;
    margin: 0 auto;
    border: solid #848689 1px;
}
.headerbt
{
    height: 63px;
    width: 100%;
    padding: 0px 0px;
    background: url(                      'images/headerbt.jpg' ) repeat-x;
    clear: both;
}
li
{
    display: inline;
    list-style:none;
}
#mylander li
{
    display:block;
    text-align:left;
}
.menu
{
    background-color: Transparent;
    padding: 0px;
    width: 1000px;
    margin: 0 auto;
}

.menu table, .menu table tr
{
    background-color: Transparent;
    border: none;
}
.menu tr
{
    background-color: Transparent;
}


thead tr
{
    /*background: transparent url(images/palat.png) no-repeat scroll 0 -57px;*/
    border-bottom: 1px dashed #A9AEB1;
    font-weight: bold;
    height: 35px;
    color: #093F7C;
}
tr
{
    background: #fff;
    padding: 2px 2px;
    border-bottom: dashed 1px #A9AEB1;
}
td
{
    text-align: left;
    padding: 5px;
    vertical-align: top;
}
tr:hover
{
    background: #FEFDE9;
}

.label
{
    font-weight: bold;
}
.tab
{
    background: #497BAC;
    padding: 5px;
    border: solid 1px #325994;
}
.qtxt
{
    width: 400px;
}
.qs .contentbox
{
    min-height: 300px;
}
.headx
{
    background: url(images/scv1.png);
}

.tlist table
{
    width: 100%;
}
.tlist h3
{
    color: #000;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 0px;
}

.thtl
{
    background: url(images/thl.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 6px;
}
.thtr
{
    background: url(images/thr.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 6px;
}
.thtc
{
    background: url(images/thc.png);
    background-repeat: repeat-x;
    background-position: left;
}

.thtl, .thtr, .thtc
{
    height: 62px;
}

.thbl
{
    background: url(images/thbl.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 6px;
}
.thbr
{
    background: url(images/thbr.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 6px;
}
.thbc
{
    background: url(images/thbc.png);
    background-repeat: repeat-x;
    background-position: left;
}

.thbl, .thbr, .thbc
{
    height: 61px;
}
.thml
{
    background: url(images/thml.png);
    background-repeat: repeat-y;
    background-position: left;
    padding-left: 6px;
}
.thmr
{
    background: url(images/thmr.png);
    background-repeat: repeat-y;
    background-position: right;
    padding-right: 6px;
}
.thmc
{
    background: #fff;
    background-repeat: repeat;
    background-position: left;
}

.thml, .thmr, .thmc
{
}

.loading
{
    background: url(images/3.gif);
    z-index: 10001;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 500px;
    top: 100px;
    padding: 30px;
}

img
{
    border: solid 5px #000;
    margin: 3px;
    padding: 3px;
    background: #444;
    -moz-border-radius: 6px;
}
li
{
    display: inline;
    text-align: left;
    padding: 6px 10px;
    margin: 1px;
    text-decoration: none;
}
#sidemenu li a, ul
{
    border: none;
    background-color: Transparent;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

li input, li select, li textarea, select
{
    width: 20%;
}
input[type=radio], input[type=checkbox]
{
    width: 10px;
}

/*  New -------------------------------------*/

input, textarea
{
    -moz-border-radius: 4px;
    border: 1px solid #999999;
    color: #1A1A1A;
    padding: 0.25em 0.5em;
    width: 80%;
}
.vis
{
    text-align: left;
}
.invis
{
    text-align: left;
    display: none;
}
.roundedall, .btn, .cin:hover, .contentbox, .trans
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.roundedb
{
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.roundedt, .bksl .btn
{
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.roundedl
{
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
.roundedright
{
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    -khtml-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}
.bksl
{
    background-image: url(images/bks.png);
    height: 90px;
    background-repeat: repeat-x;
    vertical-align: bottom;
}
.bksl .btn
{
    background-image: url(images/blackbtn.jpg);
    float: left;
    height: 33px;
    padding: 0px 10px 0px 0px;
    margin: 0px 5px;
    color: #fff;
    font-weight: bold;
    line-height: 33px;
    border: 1px solid #171717;
}
.btn
{
    padding: 4px 10px;
    background: url(images/graybtn.gif);
    background-repeat: repeat-x;
    border: solid 1px #c4c7c8;
    max-width: 200px;
    text-align: center;
    line-height:12px;
}
.btn:hover, .cin:hover
{
    background: url(images/bluebtn.gif);
    border: solid 1px #267bc4;
}
.btn:hover a, .cin:hover a
{
    color: #fff;
}
.btn a
{
    color: #323232;
    font-weight: bold;
}
.gray, h5
{
    background-image: url(images/gsl.png);
    border: solid 1px #C5C8C9;
}
.gray
{
    min-height:30px;
}
.bksl .btn a
{
    color: #fff;
}
h5
{
    padding: 4px 5px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}
.gbg
{
    background: #ECECEC;
    text-align: left;
}
.graycontent
{
    background: #ECECEC;
    text-align: left;
    padding: 5px;
    margin: 5px;
}
.cin
{
    padding: 5px;
    border-bottom: dashed 1px #424542;
    margin: 1px;
}
.contentbox
{
    background: #fff;
    border: solid 1px #C5C8C9;
    margin: 5px;
    text-align: left;
}
.contentbox .gray
{
    border: none 0px;
    padding: 5px;
}
.rgray
{
    background-image: url(images/bgrsl.png);
    border: solid 1px #C5C8C9;
}
table
{
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}
table thead td, .btext, a, .btitle
{
    color: #497ec1;
}
.btn a:hover
{
    background:transparent;
}
a:hover
{
    background:#CEE3FF;
}
.btitle
{
    font-weight: bold;
}
.btext, a
{
    text-decoration: none;
}
.hr
{
    border-bottom: dashed 1px #C5C8C9;
}
h3
{
    padding: 0px;
    margin: 0px;
}
.error
{
    padding: 3px;
    background: #C72127;
    margin: 3px;
    color: #fff;
}
.whitecont
{
    padding: 10px;
    background: #fff;
    line-height:22px;

}
.dasbo
{
       border-bottom:dashed 1px #cfcfcf;
}
.grayhead
{
    background: url(images/grayHead.gif);
    height: 28px;
    background-repeat: repeat-x;
    border: solid 1px #C5C8C9;
    line-height: 28px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
.graylg
{
    background: url(images/braylg.jpg);
    height: 73px;
    background-repeat: repeat-x;
    border: solid 1px #C5C8C9;
    line-height: 28px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
.trans
{
    background: url(      'images/trans.png' );
    padding: 10px;
}
/* Icons */

.edit
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -108px 0px;
    padding: 14px 14px;
}
.delete
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -108px 0px;
    padding: 14px 14px;
}
.dash
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: 0px -33px;
    padding: 14px 18px;
}
.acco
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -33px -33px;
    padding: 14px 22px;
}
.img
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -35px -6px;
    padding: 0px 20px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.doc
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -64px -5px;
    padding: 1px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.aud
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -191px -5px;
    padding: 1px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.vid
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -0px -10px;
    padding: 0px 25px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.ques
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -191px -6px;
    padding: 1px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.exm
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -85px -9px;
    padding: 0px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.us
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -142px -11px;
    padding: 0px 16px 0px 0px;
    line-height: 12px;
    empty-cells: show;
}
.sub
{
    background-color: Transparent;
    background-image: url(images/icons.png);
    background-position: 0 0;
    background-position: -111px -0px;
    padding:13px;
    line-height: 12px;
    empty-cells: show;
}
.close
{
     background-color:Transparent;
background-image:url("images/icons.png");
background-position:-209px -10px;
empty-cells:show;
line-height:12px;
padding:9px;
}
/* end Account*/

fieldset
{
    text-align: left;
}
.tarrow
{
    background: transparent url(images/toolarrow.png);
    height: 37px;
    width: 127px;
    background-repeat: no-repeat;
    margin-top: 20px;
}
a
{
    cursor: pointer;
}
.checked .unchecked input, .unchecked input
{
    background: transparent url(images/unchecked.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.unchecked input, .checked input
{
    padding-left: 16px;
    margin: 0px;
    border: none 0px;
    cursor: pointer;
    color: #fff;
}
.checked input
{
    background: transparent url(images/checked.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.bgtl
{
    background: transparent url(images/bgtl.png);
    background-repeat: no-repeat;
    background-position: left;
    height:20px;
}
.bgtll
{
    background: transparent url(images/bgtll.png);
    background-repeat: repeat-x;
    background-position: left;
    height:20px;
    margin:0px 0 0 20px;
}
.bgtr
{
    background: transparent url(images/bgtr.png);
    background-repeat: no-repeat;
    background-position: right;
    height:20px;
}
.bgtc
{
    background: transparent url(images/bgtc.png);
    height:20px;
    margin:0px 20px 0 0;
}
.bgbl
{
    background: transparent url(images/bgbl.png);
    background-repeat: no-repeat;
    background-position: left;
    height:20px;
}
.bgbr
{
    background: transparent url(images/bgbr.png);
    background-repeat: no-repeat;
    background-position: right;
    height:20px;
}
.bgbc
{
    background: transparent url(images/bgbc.png);
    height:20px;
    margin:0px 20px;
}
.bgml
{
    background: transparent url(images/bgml.png);
    background-repeat: repeat-y;
    background-position: left;
}
.bgmr
{
    background: transparent url(images/bgmr.png);
    background-repeat: repeat-y;
    background-position: right;
}
.bgmc
{
    margin:0px 10px;
    background:#fff;
}
.udate
{
    float:right;
    border-bottom:dashed 1px #cfcfcf;
}
.fuleft
{
    float:left;
    width:550px;
}
.furight
{
    float:right;
    width:160px;
}
ul
{
    clear:both;
    
    display:block;
    
}