<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <remove name="LocalSqlServer"/>
  <!--<add name="LocalSqlServer" connectionString="user id=sa;password=michael;Data Source=USER\SQLEXPRESS;Database=edu;Connect Timeout=200; pooling='true'; Max Pool Size=200" />-->
  <add name="LocalSqlServer" connectionString="user id=sa;password=michael;Data Source=RNAIK01;Database=crameasy;User ID=sa; Password=michael!21;Connect Timeout=200; pooling='true'; Max Pool Size=200" />
  <add name="ShoppingSqlServer" connectionString="user id=sa;password=michael;Data Source=VSERVER;Database=cart;Connect Timeout=200; pooling='true'; Max Pool Size=200" />
</connectionStrings>